<header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
    a.navbar-brand{
        font-size: 35px;
        padding: 0px;
        margin-left: 100px;
    }
    
    p.info{
        font-size: 15px;
        padding: 0px;
        margin-right: 300px;
    }

    div.user{
        padding: 0px;
        margin-
    }

</style>
</header>

<body>
<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand">Instagram</a>
        </div>
    </div>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
    </form>

    <p class="info">
    {% if user.is_authenticated %}
    <div class="user">
    {{ user.username }} 님 &nbsp; &nbsp;
    </div>

        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %} 
            <input type="submit" value="로그아웃"> &nbsp; &nbsp;
        </form>

    <a href="{% url 'new' %}">글쓰기</a>

    {% else %}

    로그인 해주세요 &nbsp; &nbsp;
    <a href="{% url 'login' %}">로긴</a> &nbsp; &nbsp;
    <a href="{% url 'signup' %}">횐갑</a> &nbsp; &nbsp;

    {% endif %}
    </p>

</nav>



<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>